/* The CSS code defines styles for heading 2 (`h2`) elements, setting font, text alignment, and color.
Similarly, paragraph (`p`) elements have styles for font, text alignment, and color. These styles contribute
to the visual presentation of these elements on a webpage. */
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    color: crimson;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    color: slateblue;
}