body{
    background-color: white;
}

ul{
    /* In this an image is used as the list item marker. We can set this property to none or web address of an image. */
    list-style-image: url(/CSS/Images/smartphones.jpg);
}
OL{
    list-style-image: url(/CSS/Images/jeskocar.jpg);
}