*{
    padding: 0px;
    margin: 0px;
}

#navbar {
    height: 50px;
    background-color: black;
}
#logo {
    color: #f08804;
    font-size: 20px;
    margin-left: 20px;
}
button{
    background-color: #f08804;
}

a{
    margin-right: 200px;
}

button{
    background-color: #f08804;
}
