body{
    background-image: url(/CSS/Images/milkyway.jpg);
    background-size: cover;
}

h2{
    color: aqua;
    text-shadow: 2px 2px 5px aqua;
    font-size: x-large;
}

p{
    color: aqua;
    text-shadow: 1px 1px 3px aqua;
    text-overflow: clip;
    font-size: larger;
    font-variant: normal;
}