*{
    margin: 0%;
    padding: 0%;
}

.one{
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.two{

    width: 37%;
    margin-top: 10%;
    margin-left: 10%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.main{
    display: flex;
}